[Unit]
Description=Iptables Setup
          
[Service]
Restart=always
RestartSec=30
ExecStart= /bin/bash -c 'sudo iptables -A PREROUTING -t nat -p tcp --dport 80 -j REDIRECT --to-ports 8080'
User=root

[Install]
WantedBy=multi-user.target